/* Set defaults*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;;
}
h2, h3, h4, h5{
    color: #FFF5E1;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
a{
    text-decoration: none;
}

/* Web page Header CSS Styles*/
.title {
    font-size: 1.5rem;
    font-weight: bold;    
    margin: 1rem;
    display: flex;    
}
.title a{color:#FFFFFF;}
#mail-icon{
    margin-left: 1rem;
}
.nav-bar {
    display: flex;
    position: relative;    
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 2rem;
    z-index: 1;      
}
.nav-menu {    
    display: none;
    flex-direction: column;
    padding: 0;   
    width:80%;
    height: 100vh;
    margin: 3rem auto;
    text-align: left;
}

.nav-menu li {
    list-style: none;
    border-bottom: solid 1px gray;   
}

.nav-item a {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    color: #FFFFFF;
    padding: 1.5rem;
}
.nav-menu li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    display: flex;
    right: 2rem;
    top: 1rem;    
    height: 2rem;
}
.toggle-button.active{
    transform: rotate(90deg);
}
.nav-menu.active {
    display: flex;
}
.title.active{
    display: none;
}







@media (min-width: 768px) {
    .nav-menu {
        display: flex;
        flex-direction: row;
        height: fit-content;   
        width: auto;   
        margin:0;  
    }
    .nav-menu li{
    text-align:center;
    border-bottom:none;
  }
  .nav-item a{
    font-size: 1rem;
    font-weight: normal;
  }    
   .toggle-button {
        display: none;
    }    
    .title{
        display: flex;
    }
    .main-section{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #Social_Media_Icons{
        display: flex;
        flex-direction: column;
        order: -1;
        margin-right: 3rem;
        justify-content: space-around;
        height: 200px;
    }
    #main_text{
        max-width: 50%;
    }
    #hero_image{
        position: absolute;
        max-width: 60%;
        right: -250px;
        top: -45px;
    }
}

/******Hero Section********/

.background{
    background-color: #1C1A19;
    height: 100vh;    
}
.main-section{
    padding: 8rem 2rem;
}
#main_text h1{
    font-size: 4.5rem;
    font-family: 'Crete Round', serif;
    color: #FF6B00;
    line-height: 5rem;
}
#main_text h3{
    font-size: 2rem;    
}
#main_text h5{
    font-size: 1.5rem; 
    font-weight: normal;
}
#Social_Media_Icons a{
    width: 20px;
}
/**************Media Queries*************/
@media (max-width: 768px){
    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #Social_Media_Icons{
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: space-between;
        max-width: 30%;
        min-width: 60%;
      }
    
    #main_text{
        width: 75%;
    }
   
    #hero_image{
        position: absolute;
        width: 400px;
        right: -300px;
        top: 500px;
        }
}

